= semantic_form_for feedback, url: '/feedback' do |form|
  = form.inputs do
    = form.input :created_at, as: :uneditable, value: I18n.localize(feedback.created_at, format: :datetime_full)
    = form.input :author,     as: :uneditable, value: name_with_email(feedback.name, feedback.email)
    = form.input :title,      as: :uneditable
    = form.input :body,       as: :uneditable
