= semantic_nested_form_for feedback, url: '/feedback' do |form|
  = form.inputs do
    = captchator_tags
    = form.input :name
    = form.input :email
    = form.input :title
    = form.input :body
  = form.actions do
    = form.action :submit
    = form.action :cancel
