%ul
  %li= link_to t('application.main.sitemap'), sitemap_path
  %li= link_to t('categories.actions.new'), new_category_path
  %li= link_to t('articles.actions.new'), new_article_path
  %li= link_to t('events.actions.new'), new_event_path
  %li= link_to t('users.main.users'), users_path
  %li= link_to t('feedbacks.main.feedbacks'), feedbacks_path
  %li= link_to t('comments.main.comments'), comments_path
  %li= link_to t('mailings.main.mailings'), mailings_path
