= semantic_nested_form_for product do |form|
  = form.inputs do
    = form.input :title
    = form.input :slug
    = form.input :category, collection: BicycleCms::Category.all # TODO Категорией может быть только категория из каталога
    = form.input :description
    = form.input :keywords
    = form.input :thumbnail
    = form.input :remove_thumbnail, as: :boolean
    = form.input :body
    = form.input :is_commentable
    = form.input :is_published
    %hr
    = form.input :art
    = form.input :product_type
    = form.input :size
    = form.input :color, default_value: 1
    = form.input :quantity1
    = form.input :quantity2
    = form.input :price
    = form.input :price2
    = form.input :price3
    = form.input :weight
    = form.input :emptinessity
    = form.input :absorbability
    = form.semantic_fields_for :attachments do |attachment_form|
      = attachment_form.inputs do
        = attachment_form.input :file
        = attachment_form.link_to_remove t('attachments.actions.destroy')
  = form.actions do
    = form.action :submit
    = form.action :cancel
