- resource.build_profile # FIXME
= semantic_nested_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :post } do |form|
  = form.inputs do
    = # devise_error_messages! # FIXME Ошибка I18n::InvalidPluralizationData
    = form.semantic_fields_for :profile do |profile_form|
      = form.input :email
      = form.input :password
      = form.input :password_confirmation
      = profile_form.input :show_email
      = profile_form.input :name
      = profile_form.input :gender
      = profile_form.input :avatar
  = form.actions do
    = form.action :submit
    = form.action :cancel
