#user_block.info
  - if signed_in?
    = t('bicycle_cms/users.main.signed_in_as', user: current_user.fullname).html_safe
    = link_to t('bicycle_cms/users.actions.profile'), profile_path
    = link_to t('bicycle_cms/users.actions.signout'), destroy_user_session_path
  - else
    = t('bicycle_cms/users.main.not_signed_in')
    = link_to t('bicycle_cms/users.actions.signin'), new_user_session_path
    = link_to t('bicycle_cms/users.actions.signup'), new_user_path
  - if signed_in_as_admin?
    .warning.info
      = t('bicycle_cms/users.main.signed_in_as_admin')
      = link_to t('application.main.admin_panel'), admin_panel_path
