= semantic_form_for event do |form|
  = form.inputs do
    = form.input :published_at
    = form.input :title
    = form.input :slug
    = form.input :description
    = form.input :keywords
    = form.input :thumbnail
    = form.input :remove_thumbnail, as: :boolean
    = form.input :body
    = form.semantic_fields_for :attachments do |attachment_form|
      = render_fields_for attachment_form, parent: event
    = form.link_to_add t('attachments.actions.add'), :attachments
    = form.input :is_commentable
    = form.input :is_published
  = form.actions do
    = form.action :submit
    = form.action :cancel
