= div_for category do
  - if category.thumbnail.present? || category.body.present? || category.properties.present?
    .annotation
      - if category.thumbnail.present?
        .thumbnail
          = link_to image_tag(category.thumbnail.medium.url), category.thumbnail.url
      .body
        = eval_in_erb_sandbox category.body.presense(category.body).html_safe, binding
      .properties
        = render_properties_for category

  .categories
    = render category.children, postfix: 'short'
  .articles
    = render category.articles, postfix: 'short'
