= semantic_form_for [comment.commentable, comment], remote: true do |form|
  = form.inputs do
    = form.input :author_id, as: :hidden
    = form.input :name,  as: :hidden, input_html: { value: comment.author.name }
    = form.input :email, as: :hidden, input_html: { value: comment.author.email }
    = form.input :body
  = form.actions do
    = form.action :submit
    = form.action :cancel
