= semantic_form_for [comment.commentable, comment], remote: true do |form|
  = form.inputs do
    = form.input :author_id, as: :hidden
    = form.input :name,  input_html: { value: (comment.author_id.nil? ? comment.name : User.find(comment.author_id).name) }
    = form.input :email, input_html: { value: (comment.author_id.nil? ? comment.email : User.find(comment.author_id).email) }
    = form.input :body
    = form.input :is_published
  = form.actions do
    = form.action :submit
    = form.action :cancel
