= semantic_form_for [comment.commentable, comment], remote: true do |form|
  = form.inputs do
    = form.input :name
    = form.input :email
    = form.input :body
  = form.actions do
    = form.action :submit
