= div_for article, :short do
  %h3.title
    = render_panel_for article, owner: article.author do
      = link_to article.title, article
  - if article.thumbnail.present?
    .thumbnail
      = image_tag article.thumbnail.medium.url
  - if article.description.present?
    .description
      = eval_in_erb_sandbox article.description.html_safe
      = link_to(t('bicycle_cms/articles.actions_short.more'), article, class: :more) if article.body.present?
  - unless article.is_page?
    .subtitle
      = raw t('articles.main.published_by_at', author: article.author.fullname, published_at: l(article.published_at, format: :date_full))
