= semantic_nested_form_for article do |form|
  = form.inputs do
    = form.semantic_errors
    = form.input :title
    = form.input :slug
    = form.input :author, collection: BicycleCms::User.all, include_blank: false
    = form.input :category, collection: BicycleCms::CategoryDecorator.categories_options, include_blank: false
    = form.input :description
    = form.input :keywords
    = form.input :thumbnail
    = form.input :remove_thumbnail, as: :boolean
    = form.input :body
    = form.input :published_at
    = form.semantic_fields_for :attachments do |attachment_form|
      = render_fields_for attachment_form, parent: article
    = form.link_to_add t('bicycle_cms/attachments.actions.add'), :attachments
    = form.input :is_commentable
    = form.input :is_published
    = form.input :is_page
  = form.actions do
    = form.action :submit
    = form.action :cancel
