= render_panel_for @article, owner: @article.author

= render @article

- if (@article.is_commentable && !@article.is_page?) || signed_in_as_admin?
  #comments
    %h3= t('bicycle_cms/comments.main.bicycle_cms/comments')
    = render(@article.comments) || t('general.messages.empty')

  = render 'bicycle_cms/comments/new'
