= render_panel_for @article, owner: @article.author

= render @article

- if (@article.is_commentable and not @article.is_page?) or signed_in_as_admin?
  #comments
    %h3= t('comments.main.comments')
    = render(@article.comments) || t('general.messages.empty')

  = render 'bicycle_cms/comments/new'
