= semantic_form_for mailing do |form|
  = form.inputs do
    - form.with_options as: :uneditable do |form_uneditale|
      = form_uneditale.input :created_at, value: I18n.localize(feedback.created_at, format: :datetime_full)
      = form_uneditale.input :title
      = form_uneditale.input :body
