= semantic_nested_form_for current_user, url: update_profile_path do |form|
  = form.inputs do
    = form.semantic_fields_for :profile do |profile_form|
      = form.input :email
      =# FIXME form.input :password
      =# FIXME form.input :password_confirmation
      = profile_form.input :show_email
      = profile_form.input :avatar
      = profile_form.input :remove_avatar, as: :boolean
  = form.actions do
    = form.action :submit
    = form.action :cancel
