%table.users
  %tr
    %th= t('users.attributes.avatar')
    %th= t('users.attributes.name')
    %th= t('users.attributes.state')
    %th= t('users.attributes.email')
    %th= t('users.attributes.registered_at')
  = render collection: @users, as: :user, partial: 'user_short'
