= semantic_nested_form_for order, url: order_path do |form|
  = form.inputs do
    = form.input :author_id, as: :hidden, input_html: { value: current_user.id }
    = form.input :name,      as: :hidden, input_html: { value: current_user.name }
    = form.input :email,     as: :hidden, input_html: { value: current_user.email }
    = form.input :comment
  = form.actions do
    = form.action :submit
    = form.action :cancel
