= attachment_form.inputs do
  = attachment_form.input :file
  = attachment_form.input :slug
  = attachment_form.input :show_in_list
  = attachment_form.link_to_remove t('attachments.actions.destroy')
