= attachment_form.inputs do
  = # FIXME attachment_form.semantic_errors
  = attachment_form.input :file
  = attachment_form.input :slug
  = attachment_form.input :show_in_list
  = attachment_form.link_to_remove t('bicycle_cms/attachments.actions.destroy')
